<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahianzhang.xp.demo.dao.IUserMapper">

    <insert id="createUser" parameterType="com.ahianzhang.xp.demo.entity.User">
       INSERT INTO `t_user`(
        `name`, `gender`, `address`, `create_time`, `update_time`)
       VALUES (
       #{name}, #{gender}, #{address}, #{createTime}, #{updateTime}
       );
    </insert>

    <select id="getUsers" resultType="com.ahianzhang.xp.demo.entity.User">
        select * from t_user
    </select>

</mapper>